@import '../../scss/base';

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 50%;
    min-width: 400px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
}

.display {
    box-sizing: border-box;
    background: $white;
    border: 3px solid $dark-grey;
    box-shadow: 2px 2px 4px 0 rgba($dark-blue, 0.5);
    border-radius: 12px;
    font-size: 24px;
    color: $dark-blue;
    text-align: center;
    padding: 1em 2em;
}

.button {
    background: $white;
    border: 3px solid $dark-grey;
    box-shadow: 2px 2px 4px 0 rgba($dark-grey, 0.5);
    border-radius: 12px;
    font-size: 24px;
    color: $dark-grey;
    text-align: center;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 33%;
    box-sizing: border-box;
}

.button > span {
    font-size: 2em;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
    outline: 0;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: $red;
    border-radius: 50%;
    display: inline-block;
}

.recording {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 5px 0px rgba($red, 0.3);
    }
    65% {
        box-shadow: 0px 0px 5px 10px rgba($red, 0.3);
    }
    90% {
        box-shadow: 0px 0px 5px 13px rgba($red, 0);
    }
}
